@font-face {
  font-family: "arges";
  src: url(/projekuts/asset/arges-variable-wght-wdth-slnt.ttf) format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 10deg;
}

@font-face {
  font-family: 'PPmori';
  src: url(/asset/PPMori-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  text-align: center;
  height: 100vh;
  background-color: #d94c5c;
}

.hero small {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: #222;
}

.hero h1 {
  font-weight: 950;
  font-size: 128px;
  font-family: 'arges';
  font-style: bold;
  margin-bottom: 10px;
}

.hero p {
  font-family: 'arges';
  font-weight: 900;
  font-size: 48px;
  font-style: Black oblique;
  color: #222;
  font-style: italic;
}

.content {
  display: flex;
  height: 100vh;
}

.left {
  background-color: #dedede;
  flex: 1;
  min-width: 50%;
  background-image: url('reformasi.jpg');
  background-size: cover;
  background-position: center;
  padding: 120px 40px;
}

.right {
  background-color: #0d0d0d;
  color: white;
  flex: 1;
  min-width: 50%;
  padding: 60px 40px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.right h2 {
  font-family: 'arges';
  font-weight: 900;
  font-size: 96px;
  line-height: 85px;
  margin-bottom: 20px;
  letter-spacing: 1px;

}

.right p {
  font-family: 'PPMori';
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #ddd;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 40px;
  }

  .right {
    padding: 30px;
  }
}
